body {
  background-color: orange;
}
li {
  font-family:Arial,sans-serif;
  color:red;
  background-color: green;
}
h1, h2 {
  font-family: 'Montaga',serif;
  text-decoration: underline;
  color:indigo;
  background-color: yellow;
}
img#salmon {
  height: auto;
  width:100%;
}
