body {
  background-color: #00BFA0;
}
h1 {
  color:red;
  font-size: 70px;
}
#reviews {
  color:#FF5700;
  font-size: 60px;
}
#loco {
  color:#381023;
  font-size: 50px;
}
#contact {
  font-size: 40px;
  color:#0E8F73;
}
img#salmon {
  height: auto;
  width:100%;
}
